{{ form_start(form) }}
    <p id="clients-data">
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    </p>
{{ form_end(form) }}
<ol>
    <li>Element</li>
    <li>Element</li>
    <li>Element</li>
</ol>