<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zadanie zdalne e-MSI{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22></text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
            <script src="{{ asset('js/delegations.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <table style="border: none;">
        <tbody>
          <tr>
            <td width="25%" valign="top">
                <div id="Lewy">
                    {%block menu %}{% endblock %}
                </div>
            </td>
            <td>
                <div id="Prawy">
                    {%block body %}{% endblock %}
                </div>
            </td>
          </tr>
        </tbody>
        </table>
     </body>
</html>
