<p>
    Wybierz kolory tabeli:
    <div>
        <input type="color" id="odd-row" name="odd-row"
                value="#ffffc7">
        <label for="body">Wiersze nieparzyste</label>
    </div>

    <div>
        <input type="color" id="even-row" name="even-row"
               value="#dae8fc">
        <label for="head">Wiersze parzyste</label>
    </div>
</p>
